/* 
---01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter spacing:
0.5px
0.75px

--- 02 COLORS

- Primary: #9b51e0
- Tints:
#fdf2e9
#fae5d3
#eb984e

#161616
#1A1A1A
rgba(37, 37, 37, 1);

- Shades: 
#cf711f
#45260a

- Accents:
- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.079)

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px


--- 07 WHITESPACE
-- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  /* 10 / 16 = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e6e6e6;
  background-color: #161616;
}

/*******************************/
/* HELPER/SETTINGS CLASSES */
/*******************************/
.margin-right-sm {
  margin-right: 2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4rem !important;
}

.margin-bottom--large {
  margin-bottom: 12rem !important;
}

.padding--small {
  padding-bottom: 4rem;
}

.padding--medium {
  padding-bottom: 12rem;
}

.center-text {
  text-align: center;
}

.flex {
  display: flex;
  gap: 0.5rem
}

.one--column {
  display: flex;
  gap: 2rem;
}


strong {
  font-weight: 500;
}





/*******************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #e6e6e6;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.1;
  margin-bottom: 2.4rem;
  color: #ccc;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.1;
  color: #b3b3b3;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.primary-text {
  font-size: 2.4rem;
  line-height: 1.6;
}

.description-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.hero-description {
  color: #888;
}

.hero-info {
  color: #9b51e0;
}

.featured-tittle {
  font-size: 6.2rem;
  line-height: 1.6;
}

.featured-secondary {
  font-size: 3rem;
  line-height: 1.6;
  color: #ccc;
}

.featured-description {
  font-size: 2.4rem;
  line-height: 1.6;
  color: #888;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  margin-right: 1.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #9b51e0;
  color: #ccc;
}

.btn--full:hover,
.btn--full:active {
  background-color: #6d399d;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #161616;
  color: #999;
  transition: all 0.3s;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #2d2d2d;
  color: #888;
}

/** HEADER **/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7.4rem;
  padding-right: 7.4rem;
  padding-top: 1.6rem;
  background: linear-gradient(to right, #0b081d, #26224f, #0b081d);
}

.logo {
  /* height: 8.6rem; */
  font-family: "Lobster";
  font-weight: 400;
  font-size: 3.6rem;
}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  color: #b985e9;
  transition: all 0.3s;
}

.logo-link:hover {
  color: #ccc;
}

/* NAVIGATION */

.main-nav-header {
  display: flex;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:link {
  position: relative;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #9b51e0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.main-nav-link:not(.nav-cta):hover::after {
  transform: scale(1, 1);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b3b3b3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 9px;
  color: #fff;
  background-color: #9b51e0;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #6d399d;
}

/** HERO SECTION **/
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 48.5%;
  bottom: -60px;
  border-radius: 50px;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #9b51e0;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 90%;
  }
}
.portrait-img {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
  text-align: center;
}

.portrait-img img {
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  border: 1.6px solid White;
}

.hero-section {
  padding: 14rem 0;
  padding-top: 8rem;
  padding-bottom: 20rem;
  background-image: url('/img/fondo-001.webp');
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background: linear-gradient(to right, #0b081d, #26224f, #0b081d);

}
  
.hero-text {
  position: relative;
  text-align: center;
}

/* CAROUSEL SECTION */

.carousel-section {
  padding: 12rem 0;
}
.slider {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 3.6rem;
}

.slider-projects {
  display: flex;
  width: calc(45rem * 6);
  width: calc(76.4rem * 6);
  animation: scroll 15s linear infinite;
}

/* .slider-projects:hover {
  animation-play-state: paused;
} */

.featured-text {
  position: relative;
}

.featured-number-one::before,
.featured-number-two::before {
  content: "01";
  position: absolute;
  font-size: 4.2rem;
  color: #b3b3b3;
  left: -6%;
  top: 4%;
}

.featured-number-two::before {
  content: "02";
}

.slider-img {
  width: 76.4rem;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 1.5rem;
  perspective: 10rem;
}

.project-img img {
  /* max-width: 100%;
  min-height: 35rem;  */
  display: block;
  width: 100%;
  /* width: auto; */
  height: calc(min(350px, 100%));
  image-rendering: auto;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  /* sizes: calc(min(500px, 100%))-10px; */
  /* height: calc(min(500px, 100%)); */
  /* object-fit: cover; */
}

.description {
  text-align: center;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(22, 22, 22, 1) 0%,
    rgba(255, 255, 255, 0) 30%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-76.4rem * 3));
  }
}

/* ABOUT ME */

/* CONTACT ME */

.bento-li {
  list-style: none;
}

.bento-li-items {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #9b51e0;
}

/* FEATURED SECTION */
.footer-section {
  padding: 12rem 0 0 0;
}

.project-tags {
  display: flex;
  gap: 0.8rem;
}

.tag {
  display: inline-block;
  background-color: #e1cbf6;
  padding: 0.8rem 1.2rem;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.tech-tag {
  background-color: rgba(255, 255, 255, 0);
  border: 0.0325rem solid rgba(255, 255, 255, 1);
  color: #b3b3b3;
}

.btn--full {
}

.btn--outline {
}

/* SOCIAL-PROOF SECTION */
.bento-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gird-template-rows: 1fr 1fr; */
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.main-grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.main-grid-two {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.bento-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  background-color: #dbe0e409;
  background-color: rgba(219, 224, 228, 0.04);
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 2.2rem;
  transition: all 0.7s; 
}

.bento-box:hover {
  border: 0.0995rem solid rgba(255, 255, 255, 0.1);
  border-color: #b985e9;
  animation: blink 1.8s linear infinite;
}

@keyframes blink {
  0%{
    border-top-color: #b985e9;
    border-right-color: #595582;
    border-bottom-color: #595582;
    border-left-color: #595582;
  }

  15% {
    border-top-color: #b985e9;
    border-right-color: #b985e9;
    border-bottom-color: #595582;
    border-left-color: #595582;
  }

  30% {
    border-top-color: #b985e9;
    border-right-color: #b985e9;
    border-bottom-color: #b985e9;
    border-left-color: #595582;
  }

  45% {
    border-top-color: #b985e9;
    border-right-color: #b985e9;
    border-bottom-color: #b985e9;
    border-left-color: #b985e9;
  }

  60% {
    border-top-color: #595582;
    border-right-color: #b985e9;
    border-bottom-color: #b985e9;
    border-left-color: #b985e9;
  }

  75% {
    border-top-color:  #595582;
    border-right-color: #595582;
    border-bottom-color: #b985e9;
    border-left-color: #b985e9;
  }

  90% {
    border-top-color:  #595582;
    border-right-color: #595582;
    border-bottom-color:  #595582;
    border-left-color: #b985e9;
  }

  100% {
    border-color: #595582;
  }
}
  


.card-main--small {
  min-height: 11.5rem;
  /* width: 31.5rem; */
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.card-main--small-medium {
  min-height: 11.5rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.card-main--medium {
  min-height: 11.5rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.big-text {
  font-size: 4.4rem;
  text-align: center;
}

.big-text-dev {
  font-size: 3.6rem;
  text-align: center;
}

.gray-text {
  color: #9ba1a6;
}

.sub-text {
  color: #888;
}

.years {
  font-size: 1.8rem;
}

/* FOOTER SECTION */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}

.Work-col {
  display: flex;
  gap: 3.2rem;
}

.social-links-col {
}

.copyright-col {
}

.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #888;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.footer-link:hover {
  color: #e6e6e6;
}

.social-link:link,
.tech-link,
.social-link:visited
{
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
  color: #b985e9;
}

.social-link:hover,
.tech-link:hover {
  color: #6d399d;
}

.copyright {
  font-weight: 500;
  font-size: 1.6rem;
  color: #888;
}

.social-links, .tech-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon, .tech-icon {
  height: 3.6rem;
  width: 3.6rem;
}



/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
