/* 
---01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter spacing:
-0.5px;
0.5px
0.75px

--- 02 COLORS
- Primary: #9b51e0
- Tints:
50%
#cda8f0
30%
#b985e9
20%
#af74e6
10%
#a562e3

- Shades: 
70%
#2e1843
30%
#6d399d

- Accents:
- Greys:
#888
#999
#b3b3b3
#ccc
#e6e6e6
#9ba1a6


--- 05 SHADOWS
0 0 2.5rem rgba(0, 0, 0, 0.8);

--- 06 BORDER-RADIUS
Default: 9px
Max: 100px

--- 07 WHITESPACE
-- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  /* 10 / 16 = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e6e6e6;
  background-color: #161616;
}


/*******************************/
/* GENERAL REUSABLE COMPONENTS*/
/*******************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #e6e6e6;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
  margin-bottom: 2.4rem;
  color: #ccc;
}

.heading-tertiary {
  font-size: 2rem;
  line-height: 1.1;
  color: #b3b3b3;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.primary-text {
  font-size: 2.4rem;
  line-height: 1.6;
}

.description-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.grey-description {
  color: #888;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  margin-right: 1.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #9b51e0;
  color: #ccc;
}

.btn--full:hover,
.btn--full:active {
  background-color: #6d399d;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #161616;
  color: #999;
  transition: all 0.3s;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #2d2d2d;
  color: #888;
}


/*******************************/
/* HELPER/SETTINGS CLASSES */
/*******************************/
.margin-right-sm {
  margin-right: 2rem !important;
}

.margin-bottom-xsm {
  margin-bottom: 1.2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4rem !important;
}

.margin-bottom-md-large {
  margin-bottom: 6rem !important;
}

.margin-bottom-large {
  margin-bottom: 12rem !important;
}

.margin-bottom-xlarge {
  margin-bottom: 24rem !important;
}

.padding-small {
  padding-bottom: 4rem;
}

.padding-medium {
  padding-bottom: 12rem;
}

.padding-zero {
  padding: 0;
}

.center-text {
  text-align: center;
}

.flex {
  display: flex;
  gap: 0.5rem
}

.one-column {
  display: flex;
  gap: 2rem;
}

strong {
  font-weight: 500;
}

