/*******************************/
/* BELOW 1300px (Landscape Tablets)*/
/*******************************/
@media (max-width: 81.25rem) {
  .slider-projects {
    /* width: calc(76.4rem * 6); */
    width: calc(55.4rem * 6);
  }

  .slider-img {
      /* width: 76.4rem; */
      width: 55.4rem;
      padding: 1.6rem;
      perspective: 10rem;
  }

  .project-img img {
    width: 100%;
    /* height: calc(min(25rem, 100%)); */
    height: 25rem;
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-55.4rem * 3));
    }
  }
}

/*******************************/
/* BELOW 1200px (Tablets)*/
/*******************************/
@media (max-width: 75rem) {
  .bento-box {
    padding: 2rem 3.6rem;
  }

  .description-text {
    font-size: 1.8rem;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .featured-secondary {
    font-size: 2.4rem;
    font-size: 2.0rem;
    line-height: 1.6;
  }

  .featured-title {
    font-size: 3.6rem;
    font-size: 3.0rem;
    line-height: 1.6;
  }

  .big-text {
    font-size: 3.6rem;
    font-size: 3.0rem;
  }

  .big-text-dev {
    font-size: 3.0rem;
    font-size: 2.4rem;
  }

  .primary-text {
    font-size: 3.0rem;
  }

  .featured-number-one::before,
  .featured-number-two::before {
    top: 1%;
    right: 0%;
  }
}

/*******************************/
/* BELOW 900px (Tablets)*/
/*******************************/
@media (max-width: 56.25rem) {
  html {
    font-size: 56.25%;
  } 

  .container {
    max-width: 120rem;
    /* max-width: 50%;
    max-width: fit-content; */
  }

  .slider-projects {
    /* width: calc(76.4rem * 6); */
    width: calc(45.4rem * 6);
  }

  .slider-img {
      /* width: 76.4rem; */
      width: 45.4rem;
      padding: 1.6rem;
      perspective: 10rem;
  }

  .project-img img {
    width: 100%;
    height: 20rem;
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-45.4rem * 3));
    }
  }

  .bento-grid-1 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "about about about about about resume resume resume"
    "about about about about about resume resume resume"
    "about about about about about projects projects projects"
    "about about about about about projects projects projects"
    "stack stack stack stack stack exp exp exp";
  }

  .bento-grid-2 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "projects projects projects projects collaborate collaborate collaborate collaborate"
    "web web web web collaborate collaborate collaborate collaborate"
    "clients clients clients clients collaborate collaborate collaborate collaborate"
    "exp exp exp exp collaborate collaborate collaborate collaborate";
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .heading-secondary {
    font-size: 4.0rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  .description-text {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .featured-description {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .featured-number-one::before,
  .featured-number-two::before {
    font-size: 2.4rem;
  }

  .featured-title {
    font-size: 2.4rem;
    line-height: 1.6;
  }

  .big-text {
    font-size: 2.4rem;
  }

  .big-text-dev {
    font-size: 2.0rem;
  }

  .featured-secondary {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  /* HEADER SECTION*/
  .header {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    padding-top: 2.6rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 0.6rem 0.8rem;
  }

  .logo {
    font-size: 3.0rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  /* HERO SECTION */
  .portrait-img img {
    height: 4.6rem;
    width: 4.6rem;
  }

  /* .controls {
    top: 50%;
    left: 3vw;
  } */

  .featured-number-one::before,
  .featured-number-two::before {
    top: 1%;
    right: 20%;
  }

  /* FEATURED SECTION */
  .featured-slide1, .featured-slide2 {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }

  .featured-gif-box{
    max-width: 80%;  
  }

  .featured-img-box {
    display: flex;
    gap: 1rem;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .featured-img-box img {
    max-width: 35%;
  }

  /* FOOTER SECTION */
  .social-links, .tech-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }
}

/*******************************/
/* BELOW 600px (Tablets)*/
/*******************************/
@media (max-width: 37.5rem) {
  .slider-projects {
    /* width: calc(76.4rem * 6); */
    width: calc(35.4rem * 6);
  }

  .slider-img {
      /* width: 76.4rem; */
      width: 35.4rem;
      padding: 1.6rem;
      perspective: 10rem;
  }

  .project-img img {
    width: 100%;
    height: 15rem;
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-35.4rem * 3));
    }
  }

  .bento-grid-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "resume"
    "about"
    "projects"
    "exp"
    "stack";
  }

  .bento-grid-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "web"
    "projects"
    "clients"
    "exp"
    "collaborate";
  } 

  .heading-primary {
    font-size: 4.0rem;
  }

  .heading-secondary {
    font-size: 3.0rem;
  }

  .heading-tertiary {
    font-size: 1.6rem;
    line-height: 1.1;
    color: #b3b3b3;
  }
  
  .subheading {
    font-size: 1.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
  }
  
  .social-icon, .tech-icon {
    height: 3.0rem;
    width: 3.0rem;
  }

  /* HEADER SECTION*/
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3.6rem;
  }
  
  .main-nav-list {
    gap: 1rem;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 0.4rem 0.6rem;
  }

  .logo {
    font-size: 2.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.4rem;
  }

  /* HERO SECTION*/
  .hero-section {
    padding-top: 9rem;
  }

  .carousel-text {
    font-size: 1.8rem;
  }

  .portrait-img img {
    height: 4.0rem;
    width: 4.0rem;
  }

  .heading-tertiary {
    font-size: 1.4rem;
    line-height: 1.1;
    color: #b3b3b3;
  }
  
  .subheading {
    font-size: 1.2rem;
  }

  /* .controls {
    top: 50%;
    left: 3vw;
  } */

  .featured-number-one::before,
  .featured-number-two::before {
    content: "";
    top: 0%;
    right: 50%;
  }

  .controls ul li {
    width: 2rem;
    height: 2rem;
  }

  .controls ul li::before {
    padding: 2rem;
  }

  .tag {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  /* FOOTER SECTION */
  .copyright {
    text-align: center;
  }
}

/*******************************/
/* BELOW 400px (Tablets)*/
/*******************************/
@media (max-width: 25rem) {
  .social-icon, .tech-icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.2rem;
  }

  .description-text {
    font-size: 1.2rem;
  }
  

  /* HEADER SECTION*/
  .header {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .main-nav-list {
    gap: 0.5rem;
  }

  /** MOBILE **/
  .nav-menu-btn {
    display: block;
    z-index: 11;
  }

  .main-nav-header {
    background-color: rgb(255,255,255,0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide nav */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 10;
  }

  .nav-open .main-nav-header {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-menu-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-menu-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3.2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.6rem;
  }
  
  /* HERO SECTION */
  .heading-primary {
    font-size: 3.0rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }
  .heading-tertiary {
    font-size: 1.2rem;
    line-height: 1.1;
    color: #b3b3b3;
  }
  
  .subheading {
    font-size: 1.2rem;
  }

  /* FOOTER SECTION */
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .tag {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}