/* GSAP SCROLL */
.controls {
    position: absolute;
    right: 8rem;
    top: 230%;
    transform: translateY(-50%);
    z-index: 2;
}

.controls ul li {
    display: block;
    position: relative;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #fff;
    margin: 2rem 0;
    cursor: pointer;
}

.controls ul li::before {
    content: "";
    display: block;
    border: 2px solid #fff;
    padding: .6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s ease;
}

.controls ul li:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.controls ul li.active::before {
    transform: translate(-50%, -50%) scale(1);
}

.controls ul li::after {
    content: "";
    width: 1px;
    height: calc(2rem + 4px);
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.controls ul li:last-child::after {
    display: none;
}

/* Progress bar */
.slideProgress {
    width: 100%;
    height:.5rem;
    background: #b3aa91;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
}

/* hide slides */
.featured-slide:not(.active) {
    display: none;
}


/* Modificación de la animación para aplicarla solo al texto del slide activo */
.block-reveal {
    overflow: hidden;
    position: relative; 
    /* animation: 0.001s linear 0.5s 1 normal forwards running color; */
}

.block::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 88%;
    /* animation: reveal 1s ease-in-out; */
    animation: 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running reveal;
    animation-fill-mode: forwards;
    background: #af74e6;
    z-index: 4;
    pointer-events: none;
}

@keyframes reveal {
    0% {
        transform: translateX(-100%);
    }
    
    50% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(100%);
    }
}

@keyframes color {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.featured-img-box img {
    transition: filter 0.3s ease;
}

.featured-img-box img:hover {
    filter: brightness(70%); /* O cualquier otro efecto de filtro que desees */
}


/* Block Reveal */
#square-container {
    width: 100vw;
    height: 100vh;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.square {
    width: 100px;
    height: 100px;
    background: #fd552f;
}


/* 
.content-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background: #242424;
    color: #fff;
    z-index: 1;
} 
*/