/* GSAP SCROLL */
.controls {
    position: absolute;
    right: 8rem;
    top: 250%;
    right: 13%;
    transform: translateY(-50%);
    z-index: 3;
}

.controls-text {
    font-size: 2rem;
    line-height: 1.1;
    color: #b3b3b3;
}

.controls ul li {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #af74e6;
    margin: 3.5rem 0;
    cursor: pointer;
}

.controls ul li::before {
    content: "";
    display: block;
    border: 2px solid #a562e3;
    padding: 2.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s ease;
}

.controls ul li:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.controls ul li.active::before {
    transform: translate(-50%, -50%) scale(1);
}

.controls ul li::after {
    content: "";
    width: 1.5px;
    height: calc(4.5rem + 4px);
    background: rgba(255, 255, 255, 0.3);
    background: #cda8f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.controls ul li:last-child::after {
    display: none;
}

/* Estilos para los cuadrados */
.square {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2.05px solid #2e1843;
    position: absolute; /* Para posicionar los cuadrados */
    transition: background-color 0.3s ease; /* Transición al hacer hover */
    opacity: 0.25;
    /* margin: 10px; */
}

/* Cambia el color de fondo al hacer hover */
.square:hover {
    background-color: rgba(255, 203, 246, 0.2); /* Gris claro con opacidad baja */
    opacity: 0.55;
}

/* Clase para resaltar los cuadrados */
.highlighted {
    background-color: rgba(255, 203, 246, 0.2); ; /* Cambia el color de fondo de los cuadrados resaltados */
    opacity: 0.45;
}









/* Progress bar */
.slideProgress {
    width: 100%;
    height:.5rem;
    background: #b3aa91;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
}

/* hide slides */
.featured-slide:not(.active) {
    display: none;
}


/* Modificación de la animación para aplicarla solo al texto del slide activo */
.block-reveal {
    overflow: hidden;
    position: relative; 
    /* animation: 0.001s linear 0.5s 1 normal forwards running color; */
}

.block::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 88%;
    /* animation: reveal 1s ease-in-out; */
    animation: 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running reveal;
    animation-fill-mode: forwards;
    background: #af74e6;
    z-index: 4;
    pointer-events: none;
}

@keyframes reveal {
    0% {
        transform: translateX(-100%);
    }
    
    50% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(100%);
    }
}

@keyframes color {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.featured-img-box img {
    transition: filter 0.3s ease;
}

.featured-img-box img:hover {
    filter: brightness(70%); /* O cualquier otro efecto de filtro que desees */
}

/* Lightbox styles */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    z-index: 9;
}

#lightbox img {
    max-width: 80%;
    max-height: 60vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    border-radius: 1px;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

/* Style for navigation buttons */
#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Añadimos estilos para posicionar los botones y la X */
#prev-btn {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#next-btn {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn, #next-btn {
    transition: opacity 0.3s;
}



#prev-btn:hover,
#next-btn:hover {
    opacity: 0.4;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

/* Styles for thumbnails */
.thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    max-width: 50px;
    width: 100px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    transition: opacity 0.3s;
}

.thumbnail:hover,
.thumbnail.active-thumbnail {
    opacity: 0.7;
}

.square-box{
    position: relative;
    /* width: 100%;
    height: 100%;
    overflow: hidden; */
}

.square-e {
    width: 115px;
    height: 115px;
    background-color: #9b51e0;;
    position: absolute;
    /* pointer-events: none; */
    z-index: 10;
}
